extends layout

block content
  h1= currentOrder.name
  p Name: #{currentOrder.name}
  p Category: #{currentOrder.category}
  p Year: #{currentOrder.year}
  p Collection: #{currentOrder.moviecollection}
  p Ratings: #{currentOrder.ratings}

